@font-face {
    font-family: "Parastoo";
    font-style: normal;
    src:url('/static/css/fonts/Parastoo-FD.eot?') format('embedded-opentype'),
    url('/static/css/fonts/Parastoo-FD.woff') format('woff'),
    url('/static/css/fonts/Parastoo-FD.ttf') format('truetype');
}
@font-face {
    font-family: "Samim";
    font-style: normal;
    src:url('/static/css/fonts/Samim-FD.eot?') format('embedded-opentype'),
    url('/static/css/fonts/Samim-FD.woff') format('woff'),
    url('/static/css/fonts/Samim-FD.ttf') format('truetype');
}

:root {

    --white-light:#f7f7f7;
    --white-dark:#f1f1f1;
    --white-darker:#e4e4e4;

    --gray-lighter: #cfcfcf;
    --gray-light: #cecece;
    --gray: #888;
    --gray-dark:#555;
    --gray-darker:#444;


     /*dib theme */
    /*--main-light: #ffcd17;*/
    /*--main:#ff9906;*/
    /*--main-dark:#ee8d00;*/
    /*--brown:#d0951a;*/

    /* shc theme */
    /*--main-light: #88c4e6;*/
    /*--main: #3ea7ff;*/
    /*--main-dark: #7792e6;*/
    /*--brown: #4979e6;*/

    /*gl theme */
    --main-light: #e6b517;
    --main: #d69738;
    --main-dark:#a2712b;
    --brown:#d0951a;


    /* kfc theme */
    /*--main-light: #da7838;*/
    /*--main: #d65500;*/
    /*--main-dark: #da7838;*/
    /*--brown:#da7838;*/

    /* ke theme */
    /*--main-light: #05c6b3;*/
    /*--main: #059e8c;*/
    /*--main-dark: #057866;*/
    /*--brown: #66b7b0;*/

    /*gl theme */
    /*--main-light: #05c6b3;*/
    /*--main: #059e8c;*/
    /*--main-dark: #057866;*/
    /*--brown: #66b7b0;*/

    --green: #349e60;
}

* {
    margin: 0;
    padding: 0;
    font-family: samim;
}
.imo {
    --main-light: #e6b517;
    --main: #d69738;
    --main-dark:#a2712b;
    --brown:#d0951a;
}
.hezar {
    --main-light: #05c6b3;
    --main: #059e8c;
    --main-dark: #057866;
    --brown: #66b7b0;
}

body {
    direction:rtl;
}
html, body{
    font-size: 100%;
    background:	white;
}
a {
    text-decoration: none;
}
a, a:visited, a:hover, a:active {
    color: inherit;
}
p {
    margin:0;
    font-size: 14px;
}
img, i {
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6{
    cursor: default;
    font-weight: 300; /* not Bold */
    margin: 0;
}
h3 {
    font-size: 18px
}
ul,label{
    margin:0;
    padding:0;
    list-style-type: none; /* removing bullets */
}
body a:hover{
    text-decoration:none;
}
div {
    cursor: default;
    box-sizing: border-box;
}
input, textarea {
    font-family: Samim;
    box-sizing: border-box;
    border: none;
    overflow-y: hidden;
}
textarea:focus-visible {
    outline: none;
}
button {
    box-sizing: border-box;
    border: none;
}

/* customizing scrollBar*/
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--gray);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--gray-dark);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark);
}


.pos-rltv {
    position: relative;
}
.pos-abs {
    position: absolute;
}

.dis-flex {
    display: flex;
}
.dis-none {
    display: none;
}
.flex-w {
    flex-wrap: wrap;
}
.dis-inline-b {
    display: inline-block;
}

.dir-rtl {
    direction: rtl !important;
}
.dir-ltr{
    direction: ltr !important;
}

.h-auto {
    height: auto !important;
}
.h-35 {
    height: 35px !important;
}
.h-50 {
    height: 50px !important;
}
.h-full {
    height: 100%;
}

.width-75{
    width: 75px;
}
.width-100 {
    width: 100px;
}
.width-116 {
    width: 116px;
}
.width-180 {
    width: 180px;
}
.width-full{
    width: 100%;
}
.min-width-470 {
    min-width: 470px !important;
}
.min-width-800 {
    min-width: 800px !important;
}

.t-align-l {
    text-align: left;
}
.t-align-c {
    text-align: center;
}
.t-align-r {
    text-align: right;
}

.a-self-c {
    align-self: center;
}
.a-items-c {
    align-items: center;
}
.j-content-c {
    justify-content: center;
}
.j-content-e {
    justify-content: flex-end;
}

.flt-r {
    float: right;
}
.flt-l {
    float: left;
}
.bd-rd-5 {
    border-radius: 5px !important;
}
.bd-rd-7 {
    border-radius: 7px !important;
}

.light-txt {
    color: var(--white-dark);
}

.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.flex-1{
    flex: 1;
}

.abs-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.cur-not-allowed {
    cursor: not-allowed;
}

.clickable {
    cursor: pointer;
}
.clickable > div{ /* change inside */
    cursor: pointer;
}

.m-l-a {
    margin-left: auto;
}
.m-r-a {
    margin-right: auto;
}
.m-t-a {
    margin-top: auto;
}
.m-b-a {
    margin-bottom: auto;
}
.p-b-0 {
    padding-bottom: 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-l-0 {
    margin-left: 0 !important;
}
.p-b-5 {
    padding-bottom: 5px;
}

.p-t-4 {
    padding-top: 4px;
}

.p-t-5 {
    padding-top: 5px;
}

.p-r-3 {
    padding-right: 3px;
}

.p-r-5 {
    padding-right: 5px;
}

.p-r-8 {
    padding-right: 8px;
}

.p-l-5 {
    padding-left: 5px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-t-5 {
    margin-top: 5px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-l-5 {
    margin-left: 5px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-r-10 {
    padding-right: 10px;
}

.p-l-10 {
    padding-left: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-l-10 {
    margin-left: 10px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-l-15 {
    padding-left: 15px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-l-15 {
    margin-left: 15px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-l-20 {
    padding-left: 20px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-l-20 {
    margin-left: 20px;
}

.p-b-25 {
    padding-bottom: 25px;
}

.p-t-25 {
    padding-top: 25px;
}

.p-r-25 {
    padding-right: 25px;
}

.p-l-25 {
    padding-left: 25px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-r-25 {
    margin-right: 25px;
}

.m-l-25 {
    margin-left: 25px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-t-30 {
    padding-top: 30px !important;
}

.p-r-30 {
    padding-right: 30px;
}

.p-l-30 {
    padding-left: 30px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-l-30 {
    margin-left: 30px;
}


.p-b-35 {
    padding-bottom: 35px;
}

.p-t-35 {
    padding-top: 35px;
}

.p-r-35 {
    padding-right: 35px;
}

.p-l-35 {
    padding-left: 35px;
}

.m-b-35 {
    margin-bottom: 35px;
}

.m-t-35 {
    margin-top: 35px;
}

.m-r-35 {
    margin-right: 35px;
}

.m-l-35 {
    margin-left: 35px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-r-40 {
    padding-right: 40px;
}

.p-l-40 {
    padding-left: 40px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-r-40 {
    margin-right: 40px;
}

.m-l-40 {
    margin-left: 40px;
}

.p-b-45 {
    padding-bottom: 45px;
}

.p-t-45 {
    padding-top: 45px;
}

.p-r-45 {
    padding-right: 45px;
}

.p-l-45 {
    padding-left: 45px;
}

.m-b-45 {
    margin-bottom: 45px;
}

.m-t-45 {
    margin-top: 45px;
}

.m-r-45 {
    margin-right: 45px;
}

.m-l-45 {
    margin-left: 45px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.p-t-50 {
    padding-top: 50px;
}

.p-r-50 {
    padding-right: 50px;
}

.p-l-50 {
    padding-left: 50px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-r-50 {
    margin-right: 50px;
}

.m-l-50 {
    margin-left: 50px;
}


.bg-white {
    background: white;
}
.svg-inline--fa {
    vertical-align: middle !important;
}


.header {
    position: fixed;
    background: rgba(37, 37, 37, 0.73);
    width: 100%;
    z-index: 10;
    height: 125px;
    transition: all 0.3s;
}
.desktop.header {
    transform: translateY(-125px);
}
.desktop.header.show {
    transform: translateY(0);
}
.mobile.header {
    display: none;
}

.logo {
    border-radius: 50%;
    cursor: pointer;
    background-position: 50%;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo.demo {
    background-image: url(/static/img/demo.png);
}
.logo.imo {
    background-image: url(/static/img/imo.png);
}
.logo.hezar {
    background-image: url(/static/img/hezar.png);
}
.nav-logo {
    width: 106px;
    height: 106px;
    position: absolute;
    top: 10px;
    right: 7%;
    border: 2px solid var(--main);

}
.shop-cart {
    background: url(/static/img/shopping-cart.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    z-index: 90;
    width: 48px;
    height: 48px;
    /* border: 2px solid white; */
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.basket-count {
    color: white;
    border: 2px solid var(--main);
    background: var(--main);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 15%;
    font-size: 17px;
    margin-top: -10px;
    font-family: Samim;
    cursor: pointer;
}
.toggler {
    position: absolute;
    right: 4%;
    padding: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.toggler > div {
    width: 26px;
    height: 2px;
    background-color: white;
    color: white;
    margin: 6px 0;
}
.sidebar-container {
    height: 100vh;
    position: fixed;
    z-index: 99;
    transform: translateX(100%);
    display: none;
}

.sidebar {
    width: 260px;
    background: #f5f5f5;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    position: absolute;
    height: 100%;
    z-index: 1;
    text-align: center;
    font-size: 14px;
    overflow-y: auto;
}

.full-side {
    background: rgba(0, 0, 0, 0.55);
    width: 100vw;
    opacity: 0.0;
}

.full-side.open {
    opacity: 1;
    transition: opacity 0.3s ease-out; /* put transition here for having animation just on opening */
}

/* side-bar animation */
.sidebar-enter {
    transform: translateX(100%);
    display: flex;
}
.sidebar-enter-active {
    transform: translateX(0%);
    transition: transform 400ms ease-out;
}
.sidebar-enter-done {
    display: flex;
    transform: translateX(0%);
}
.sidebar-exit {
    display: flex;
    transform: translateX(0%);
}
.sidebar-exit-active {
    transform: translateX(100%);
    transition: transform 400ms ease-out;
}
.sidebar-exit-done {
    display: none;
    transform: translateX(100%);
}

.sidebar .credit {
    font-size: 13px;
}

/* width */
.sidebar::-webkit-scrollbar {
    width: 4px;
}
/* Track */
.sidebar::-webkit-scrollbar-track {
    background: var(--gray);
}
/* Handle */
.sidebar::-webkit-scrollbar-thumb {
    background: var(--gray-dark);
}
.sidebar::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark);
}


.nav-container {
    position: fixed;
    top: 0;
    padding-left: 15px;
    padding-right: 15px;
    left: 24%;
    right: 24%;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    min-height: 4rem;
    min-width: 674px;
}



.navbar-brand {
    background: url("/static/img/dibija.jpg");
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    /* object-fit: contain; */
    /*background-position: center center;*/
    /*background-size: cover;*/
    margin-top: 0.6rem
}

.full-screen {
    width: 100%;
    height: 100vh;
    background: #353535;
    z-index: 91;
    position: fixed; /* just to show this over fixed elements */
    text-align: center;
    padding: 10%;
    display: grid;
}
.screen {
    background: url(/static/img/computer-screen.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 200px;
    height: 200px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: auto;
    margin-right: auto;
}
.expand {
    position: absolute;
    left: 0;
    right: 0;
    width: 50px;
    margin: auto;
    top: 60px;
}

.nav-dropdown {
    top: 33px;
    left: -43px;
    border-radius: 7px;
    position: absolute;
    background: white;
    color: black;
    box-shadow: 1px 7px 9px #8c5b008c;
    display: none;
}
.account-dropdown {
    left: -53px;
    min-width: 150px;
}
.account-dropdown::before {
    left: 82px !important;
}
.nav-dropdown li{
    padding: 8px 12px;
    white-space: nowrap;
    cursor: pointer;
}
.nav-dropdown li:first-child{
    padding-top: 10px;
}
.nav-dropdown li:last-child{
    padding-bottom: 10px;
}
.nav-dropdown li:hover{
    color: #f89406;
}
.nav-dropdown::before{
    content: '';
    border-bottom: 8px solid #fff;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    top: -16px;
    left: 69px;
}
.nav-dropdown div{
    cursor: pointer;
}

.nav-dropdown .credit {
    font-size: 13px;
    padding-top: 0px;
    margin-right: 15px;
    text-align: center;
    cursor: default;
}
.nav-dropdown .credit:hover {
    color: black;
}

.dropdown-icon {
    background-size: cover !important;
    /*background-repeat: no-repeat !important;*/
    background-position: center center !important;
    margin-right: 5px;
    margin-left: 10px;
    width: 21px;
    height: 21px;
    color: var(--main);
    font-size: 19px;
}

.dropdown-icon.avatar {
    background: url('/static/img/avatar.svg');
    width: 23px;
    height: 23px;
}
.dropdown-icon.coin {
    background: url('/static/img/coin.svg');
}
.dropdown-icon.account {
    background: url('/static/img/account.svg');
}
.dropdown-icon.address {
    background: url('/static/img/placeholder.svg');
}
.dropdown-icon.list {
    background: url('/static/img/list.svg');
}
.dropdown-icon.notice {
    background: url('/static/img/email.svg');
}
.dropdown-icon.logout {
    background: url("/static/img/logout.svg");
}

.navigation {
    /*border: 2px solid #efefef;*/
    /*border-radius: 40px;*/
    display: flex;
    border-radius: 40px;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.2);
}

.navigation > li{
    margin-left: 15px;
    margin-right: 15px;
    color: #efefef;
    font-size: 16px;
    padding-bottom: 10px;
}

.navigation > li:first-child{
    margin-right: 20px;
}
.navigation > li:last-child{
    margin-left: 20px;
}
.account-con {
    height: 4rem;
    left: 0;
    top: 20px;
    width: 6.5rem;
    border: 2px solid #efefef;
    position: absolute;
    border-radius: 7px;
    text-align: center; cursor: pointer;
    z-index: 90;
}
.account-con img {
    padding: 5px;
    height: 35px;
}
.account-con p {
    color: white;
}

.caret-down {
    width: 0;
    height: 0;
    margin-right: 4px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--white-light);
}
.navigation a:hover  .caret-down {
    border-top: 6px solid var(--main);
}

.input-birth .caret-down{
    position: absolute;
    top: 18px;
    left: 15px;
    border-top-color: var(--gray-dark);
}




/*-- nav-effect --*/
.cl-effect-13 > li {
    position: relative;
    display: inline-flex;
    align-items: center;
    outline: none;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    transition: color 0.3s;
    cursor: pointer;
}
/* Effect 13: three circles */
.cl-effect-13 > li::before {
    position: absolute;
    top:70%;
    /*right: 36%;*/
    left: 50%;
    color: transparent;
    content: '•';
    text-shadow: 0 0 transparent;
    font-size: 1.1em;
    transition: text-shadow 0.3s, color 0.3s;
    transform: translateX(-50%);
    pointer-events: none;
}
.cl-effect-13 li:hover::before,
.cl-effect-13 li.active::before {
    color: var(--main-light);
    text-shadow: 10px 0 var(--main-light), -10px 0 var(--main-light);
}
.cl-effect-13 li:hover {
    color: var(--main-light);
}
.cl-effect-13 li:hover .nav-dropdown.dropable {
    display: block;
}


.instagram {
    font-size: 26px;
}
.social-icon {
    font-size: 26px;
    padding: 8px;
    margin: 0 5px;
    border: 2px dashed var(--main);
    border-radius: 38px;
    cursor: pointer;
}
.social-icon:hover {
    color: var(--main);
    border: 2px dashed var(--white-light);
}

/*-- banner --*/
.banner{
    /*background:url("/static/img/gilanehw.jpg") no-repeat 0px 0px;*/
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
}
.banner.demo {
    background-image:url("/static/img/gilanehw.jpg");
}
.banner.imo {
    background-image:url("/static/img/imo-wall.jpg");
}
.banner.hezar {
    background-image:url("/static/img/hezar-wall.jpg");
}
.banner-secondary{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 400px;
    display: flex;
}
.banner-secondary.demo {
    background-image:url("/static/img/secondary.jpg");
}
.banner-secondary.imo {
    background-image:url("/static/img/imo-wall.jpg");
}
.banner-secondary.hezar {
    background-image:url("/static/img/hezar-wall.jpg");
}
.banner-content {
    margin-right: auto;
    margin-left: auto;
    left: 2%;
    right: 2%;
    position: fixed;
}
.banner-text-secondary {
   margin: auto;
    padding-top: 30px;
}
.banner-text {
    opacity: 0;
    transition: all 0.6s;
}
.banner-text.show {
    opacity: 1;
}
.banner-text h1,h2 {
    color: var(--white-light);
    text-align: center;
}
.banner-h1 {
    font-size: 40px;
}
.banner-h2 {
    font-size: 26px;
}

.banner-mottos {
    display: flex;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 10%;
    right: 10%;
    bottom: 0;
    justify-content: center;

    opacity: 0;
    margin-bottom: 4%;
    transition: all 600ms ease-in;
}
.banner-mottos.show {
    margin-bottom: 8%;
    opacity: 1;
}

.motto {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}
.motto-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 160px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background: #00000069;*/
    /*border: 3px solid white;*/


    background: var(--white-darker);
    border: 4px solid var(--main-light);
}
.motto img {
    height: 50%;
}
.motto h3,h4 {
    color: var(--white-light);
    padding-top: 30px;
    text-align: center;
    font-size: 21px;
}

.scroll-down-container {
    color: var(--white-dark);
    position: absolute;
    left: 20%;
    text-align: center;
    right: 20%;
    bottom: 0;
}
.scroll-down {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    /*background: #616161a3;*/
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border: 2px solid white;
    border-bottom: 0;
    cursor: pointer;
}
.scroll-down:active {
    color: var(--main-light);
}

.arrow-down {
    width: 20px;
    height: 20px;
    border: 2px solid var(--main-dark);
    border-left: 0;
    border-top: 0;
    transform: rotate(45deg);
    margin-bottom: 10px;
    /*margin-right: 35px;*/
    margin-right: auto;
    margin-left: auto;
}

.container2 {
    width: 100%;
    position: relative;
    background: var(--white-dark);
    z-index: 5;
    /*background-image: -moz-linear-gradient(45deg, #d99b4e 0%, #ff9706 100%);*/
    /*background-image: -webkit-linear-gradient(45deg, #d99b4e 0%, #ff9906 100%);*/
    /*background-image: -ms-linear-gradient(45deg, #d99b4e 0%, #ff9806 100%);*/
}
.container2.secondary {
    top: 400px;
}

.heading-wrapper {
    padding-top: 15px;
}
.heading {
    font-size: 21px;
    color: var(--brown);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* border: 2px solid black; */
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
    border-radius: 25px;
}

.food-labels {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.food-label {
    margin: 7px;
    cursor: pointer;
    padding: 5px;
    border: 2px solid var(--main-light);
    border-radius: 7px;
    min-width: 60px;
    text-align: center;
}
.food-label.selected {
    background: var(--main);
    color: white;
}
.section {
    padding: 20px;
}
.inner-con {
    margin-right: auto;
    margin-left: auto;
    max-width: 1550px;
}
.section.menu {
    min-height: 740px;
    background: var(--white-light);
    box-shadow: 1px 7px 9px #8c5b008c;
}
.section.intro {
    padding: 0;
}
.section.about p {
    line-height: 30px;
    text-align:justify;
    width: 100%;
}
.menu .inner-con {
    max-width: 1619px;
}
.intro .inner-con {
    box-shadow: 3px 6px 15px #8c5b006b;
    border-radius: 25px;
    width: 80%;
    padding: 20px;
}
.intro .inner-con::after {
    content: "";
    display: table;
    clear: both;
}
.events .inner-con {
    text-align: center;
    transition: all 2s;
}
.header .inner-con {
    position: relative;
    height: 100%;
}
.inner-con.breadcrump {
    width: 80%;
}


.foods-container {
    /*min-height: 410px;*/
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.food-container {
    width: 250px;
    border: 2px solid var(--main);
    background: var(--white-light);
    border-radius: 7px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.45) ;
    cursor: pointer;
    transition: all 0.2s;
}
.food-container.resp:hover {
    box-shadow: 0px 6px 16px -1px rgba(0, 0, 0, 0.75) ;
}

.unavailable {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-left: 80px solid #ff6000ad;
    border-bottom: 80px solid transparent;
}
.unavailable .text {
    position: absolute;
    left: -82px;
    top: 9px;
    background: transparent;
    font-family: samim;
    padding: 5px;
    font-size: 14px;
    transform: rotate(-45deg);
    color: var(--white-light);
}

.discount-span {
    position: absolute;
    background: white;
    font-family: samim;
    border-bottom-right-radius: 50%;
    padding: 5px;
    margin-top: 8px;
    border-top-left-radius: 50%;
    margin-right: 8px;
    color: var(--brown);
    border: 1px solid var(--main);
}

.food-container img {
    width: 100%;
    height: 184px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid var(--main);
    object-fit: cover;
}
.food-container h5 {
    font-size: 17px;
    margin-top: 6px;
    margin-bottom: 8px
}
.food-container .des {
    margin-bottom: 10px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 13px;
}

.price {
    font-family: Samim;
    font-size: 14px ;
}
.food-container .price {
    font-size: 13px ;
}
.e-price {
    margin-bottom: 0;
    padding: 4px;
    margin-left: 10px;
    color: white;
    background: #a0a0a0;
    border-radius: 5px;
    position: relative;
}
.e-price::after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    transform:rotate(-10deg);
}
.e-price-basket{
    padding: 4px;
    position: relative;
}
.e-price-basket::after{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: var(--main);
    transform:rotate(-10deg);
}

.n-price {
    margin-bottom: 0;
    color: black;
    border: 2px solid var(--brown);
    padding: 4px;
    border-radius: 5px;
}

.price-holder {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-top: auto;
    font-family: Samim;
}

.count-holder {
    height: 40px;
    display: flex;
    align-items: center;
}

.btn-add{
    background: var(--main);
    height: 100%;
    width: 40px;
    border-top-left-radius: 50px;
    background-image: url(/static/img/add.png);
    background-repeat: no-repeat;
    background-position: 15px 15px;
    background-size: 20px;
    cursor: pointer;
}
.btn-remove{
    background: var(--main);
    height: 100%;
    width: 40px;
    border-top-right-radius: 50px;
    background-image: url(/static/img/remove.png);
    background-repeat: no-repeat;
    background-position: 6px 16px;;
    background-size: 20px;
    cursor: pointer;
}
.btn-add.round, .btn-remove.round {
    border-radius: 50%;
    background-position: center center;
    width: 26px;
    height: 26px;
    background-size: 14px;
}

.choose-count {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 4px;
    border: 2px solid #9c9c9c;
    text-align: center;
    padding: 0 25px;
}


.break-line {
    height: 1px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: var(--main);
    margin-bottom: 5px;
}

.modal-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    min-width: 410px;
    min-height: 200px;
    padding: 50px 30px 30px 30px;
    border: 2px solid var(--main);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}
.modal-container.demo {
    background-image: url("/static/img/footer.jpg");
}
.modal-container.imo {
    background-image: url("/static/img/imo-footer.jpg");
}
.modal-container.hezar {
    background-image: url("/static/img/hezar-footer.jpg");
}
.modal-container .title {
    color: var(--white-dark);
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 80px;
    right: 80px;
    top: 10px;
    font-size: 17px;
}

.label-enter-phone {
    text-align: right;
    color: var(--white-dark);
    font-size: 17px;
    margin-bottom: 15px;
}

.input {
    border-radius: 7px;
    height: 40px;
    background: var(--white-light);
}

.input.phone {
    direction: ltr;
    text-align: center;
    font-size: 14px;
}
.input.code {
    letter-spacing: 10px;
}
.input.field {
    font-size: 14px;
    text-align: center;
}
.input.address {
    font-size: 14px;
    height: 60px;
    padding: 5px;
}

.btn {
    box-sizing: border-box;
    padding: 5px 8px 5px 8px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    color: white;
    padding-top: 3px;

}
.btn:hover {
    cursor: pointer;
}

.btn.submit {
    background: var(--main);
}
.btn.submit:hover {
    background: var(--main-light);
}
.btn.positive {
    color: var(--white-light);
    background: var(--main-dark);
}
.btn.negative {
    color: var(--white-light);
    background: var(--gray);
}



.count-down {
    color: var(--white-dark);
    margin-top: 5px;
}

/* input placeholder */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #999;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    #999;
}
::placeholder { /* Most modern browsers support this now. */
    color:    #999;
}

.closeBtn {
    position: absolute;
    right: 22px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 1;
}
.closeBtn:hover:before, .closeBtn:hover:after{
    background-color: var(--main-dark);
}
.closeBtn:before, .closeBtn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 26px;
    width: 2px;
    background-color: var(--white-dark);
}
.closeBtn:before {
    transform: rotate(45deg);
}
.closeBtn:after {
    transform: rotate(-45deg);
}

.return-btn {
    position: absolute;
    right: 26px;
    top: 15px;
    display: flex;
    color: white;
    font-size: 13px;
}
.return-btn:hover, .return-btn:hover div{
    color: var(--main);
    border-color: var(--main);
}
.arrow-right{
    align-self: center;
    width: 14px;
    height: 14px;
    border: 2px solid #ffffff;
    border-left: 0;
    border-top: 0;
    transform: rotate(-45deg) skew(5deg, 5deg);
}

.label-field {
    text-align: right;
    color: var(--white-dark);
    width: fit-content;
    padding: 5px 10px;
    background: var(--gray-dark);
    border-radius: 15px;
    font-size: 14px;
    margin-bottom: 10px;
}

.label-location {
    text-align: center;
    background: var(--main);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 6px 0;
    font-size: 14px;
}

.input-birth {
    width: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input:focus {
    outline-color: transparent;
    outline-style: none;
}

.map {
    height: 451px;
    width: 500px;
    position: relative;
    border-radius: 5px;
    /*border: 2px solid white;*/
}

.marker-container {
    width: 40px;
    height: 80px;
    position: absolute;
    z-index: 3333;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.marker {
    width: 40px;
    margin-bottom: 35px;
    left: 0;
}

.profile-icon {
    background: url('/static/img/avatar.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 64px;
    height: 64px;
    margin-right: auto;
    margin-left: auto;
}
.login-btn {
    border: 2px solid var(--main);
    border-radius: 10px;
    padding: 5px 10px;
    display: inline-block;
}

.line{
    height: 2px;
    width: 70%;
    background: #989898;
    margin-right: auto;
    margin-left: auto;
}

.mob-nav {
    display: inline-block;
}
.mob-nav > li:first-child {
    margin-top: 20px;
}
.mob-nav li {
    margin: 15px 0 15px 0;
}
.mob-nav a {
    color: black;
    text-decoration: none;
}
.mob-nav a.active {
    border-right: 2px solid var(--brown);
    border-right-style: dashed;
    border-left: 2px solid var(--brown);
    border-left-style: dashed;
    padding-right: 10px;
    padding-left: 10px;
}

.services-btn:after {
    content: '';
    display: inline-block;
    margin-right: 4px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
}

.toast-container {
    position: fixed;
    z-index: 1111;
    bottom: 100px;
    display: table; /* just to fit content */
    left: 50%;
    transform: translate(-50%, 0);
    background: #555555d4;
    border-radius: 5px;
    color: #ebebeb;
    padding: 10px;
    border: 2px solid var(--main-light);
    font-size: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.45) !important;
}
/* toast animation */
.toast-enter {
    opacity: 0;
}
.toast-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.toast-exit {
    opacity: 1;
}
.toast-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid transparent;
    align-self: center;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    margin: auto;
}
/* Safari */
@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.shake-basket  {
    animation: shake-basket 0.5s ;
    animation-iteration-count: infinite;
}
@keyframes shake-basket { /* translateY -50 is because wanna keep basket in center */
    0% { transform: translateY(-50%) translateX(-1px) rotate(-1deg); }
    25% { transform: translateY(-50%) translateX(-4px) rotate(-5deg); }
    75% { transform: translateY(-50%) translateX(4px) rotate(5deg); }
    100% { transform: translateY(-50%) translateX(1px) rotate(1deg); }
}

.services-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}
.services-collapse.open{
    max-height: 126px;
}

.item {
    border: 2px solid var(--gray-light);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    color: var(--white-dark);
}
.item.selected {
    background: var(--white-dark);
    color: var(--gray-dark);
}
.item .btn-con {
    position: absolute;
    left: 0;
    bottom:10px;
}
.item .icon {
    color: var(--main-light);
    margin-left: 5px;
    margin-top: 3px;
    font-size: 17px;
}
.item .icon-btn {
    color: var(--white-dark);
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
}
.item.selected .icon-btn {
    color: var(--gray-dark);
}
.item .icon-btn:hover {
    color: var(--main);
}
.item .edit{
    background-image: url('/static/img/edit.png');
    width: 15px;
    height: 15px;
}
.item .delete {
    background-image: url('/static/img/close.png');
    width: 18px;
    height: 18px;
}

.basket-food {
    min-height: 78px
}
.basket-food > div {
    flex: 0 1 100%;
}
.basket-food > div:nth-of-type(2) { /* food price */
    flex: 0 2 100%;
}

.pay-method > div {
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border: 2px solid var(--gray-light);
    border-radius: 5px;
    cursor: pointer;
}

.pay-method > div.selected {
    background: var(--white-dark);
    color: var(--gray-dark);
}

.atm-checkbox {
    vertical-align: middle;
}

.checkmark {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    height: 16px;
    width: 16px;
    background-color: var(--white-dark);
    cursor: pointer;
    border-radius: 3px;
}
.checkmark-input {
    height: 0;
    width: 0;
}
.checkmark-input:checked ~ .checkmark {
    background-color: var(--main);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.checkmark-input:checked ~ .checkmark:after {
    display: block;
}

.footer {
    /*background: var(--gray-darker);*/
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 200px;
}
.footer.demo {
    background-image: url("/static/img/footer.jpg");
}
.footer.imo {
    background-image: url("/static/img/imo-footer.jpg");
}
.footer.hezar {
    background-image: url("/static/img/hezar-footer.jpg");
}
.footer .title {
    color: white;
    border-bottom: 2px solid var(--main-dark);
    width: 150px;
    margin-right: auto;
    margin-left: auto;
}

.bottom-bar {
    color: var(--white-light);
    font-size: 12px;
}


.month-list {
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 5px;
    right: 0;
    top: 0;
}
.month-list li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: var(--white-light);
    cursor: pointer;
}
.month-list li:hover {
    background: var(--gray-light);
}
.month-list li:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.month-list li:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.month-list::-webkit-scrollbar {
    width: 5px;
}
/* Track */
.month-list::-webkit-scrollbar-track {
    background: var(--gray);
}
/* Handle */
.month-list::-webkit-scrollbar-thumb {
    background: var(--gray-dark);
}
.month-list::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark);
}

.col-intro {
    flex: 0 0 33.3%;
    display: flex;
    justify-content: center;
}

.intro-pic {
    width: 65px;
    height: 65px;
    object-fit: contain;
}
.intro-card {
    background-color: var(--white-light);
    margin: 15px;
    padding: 20px;
    border-radius: 25px;
    height: 320px;
    max-width: 480px;
    box-shadow: 1px 2px 5px #00000075;
}
.intro-card p {
    text-align: center;
}

.details {
    color: var(--main-light);
}
.details a {
    color: var(--white-light);
    text-decoration: none;
}
.details li {
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
}
.details i {
    margin-left: 5px;
    font-size: 18px;
}
.event {
    display: flex;
    margin: 20px;
    padding: 20px;
    height: 200px;
    border-radius: 25px;
    background-color: var(--white-light);
    cursor: pointer;

    box-shadow: 2px 2px 3px #00000075;
    transition: box-shadow 0.3s;
}
.event:hover {
    box-shadow: 2px 2px 15px #00000075;
}
.event img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    flex-shrink: 0;
    /*float: right;*/
}
.event .content {
    position: relative;
    margin-right: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.event .title {
    font-size: 17px;
    margin: 10px 0;
}
.event .date {
    font-size: 13px;
    position: absolute;
    right: 5%;
    bottom: 0;
    border-radius: 15px;
    background: var(--white-darker);
    padding: 4px 14px;
}
.event-con {
}
.event-con a{
    color: var(--main);
}
/*.event-con  ul, .event-con  ol {*/
/*    font-size: 14px;*/
/*    padding: 0 40px;*/
/*    text-align: right;*/
/*}*/
.event-img-con {
    margin-left: 40px;
    margin-bottom: 20px;
    float: right;
}

.event-img {
    border-radius: 15px;
    width: 360px;
}
.event-date {
    background: var(--white-darker);
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    bottom: 0;
}

.button {
    font-size: 15px;
    background: var(--main);
    padding: 2px 14px;
    border-radius: 15px;
    display: inline-block;
    color: white;
    cursor: pointer;
}
.button:hover {
    background: var(--main-dark);
}
.button.more {
    font-size: 16px;
    padding: 3px 24px;
    margin-bottom: 50px;
    margin-top: 10px;
    box-shadow: 1px 1px 7px rgba(178, 178, 170, 0.8);
    cursor: pointer;
}
.button.page {
    margin-left: 5px;
    padding: 3px 24px;
    margin-bottom: 50px;
    margin-top: 10px;
    box-shadow: 1px 1px 7px rgba(178, 178, 170, 0.8);
    cursor: pointer;
    color: white;
}
.button.page.notActive {
    background: var(--white-light);
    color: var(--main);
}
.button.more:hover {
    box-shadow: 1px 1px 7px rgba(33, 33, 33, 0.8);
}

.event .button {
    position: absolute;
    bottom: 0;
    left: 5%;
    cursor: pointer;
    color: white;
}

.col-event {
    flex: 0 0 50%;
}
.footer .inner-con {
    width: 70%;
}
.online-badge {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 23px;
    background: var(--white-dark);
    padding: 10px 15px;
    color: var(--gray-darker);
    box-shadow: 1px 1px 8px #5f440d78;
    right: 5%;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}
.online-badge.active {
    color: var(--green);
}
.online-badge .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--gray);
}
.circle.active {
    background-color: var(--green);
}
.blink {
    animation: blink 2s ;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% { opacity: 0.6 }
    50% {opacity: 1 }
    100% {opacity: 0.6 }
}
.developed:hover {
    color: var(--main);
}
.bell-icon {
    font-size: 18px;
    margin-left: 5px;
    vertical-align: initial;
}
.bread-crump-item{
    display: inline-flex;
    align-items: center;
}
.bread-crump-item + .bread-crump-item:before{
    width: 10px;
    height: 10px;
    border: 2px solid var(--main);
    border-right: 0;
    border-top: 0;
    transform: rotate(45deg);
    content: "";
    display: block;
}
.bread-crump a{
    margin: 5px 15px;
    font-size: 14px;
}
.discount-link {
    width: 80%;
    height: 36px;
    font-family: monospace;
}
.discount-code {
    width: 110px;
    padding: 5px 0;
    margin-right: auto;
    margin-left: auto;
    justify-self: center;
    color: var(--gray-darker);
    background: var(--white-light);
    border-radius: 7px;
    font-family: samim;
    letter-spacing: 1px;
    overflow: hidden;
}
.invitation {
    display: flex;
    align-items: center;
}
.invitation .title {
    margin: 20px 0;
}
.invitation-desc {
    font-size: 15px;
}
.invitation-background {
    background:url("/static/img/secondary.jpg") no-repeat 0px 0px;
    background-size:cover;
    /*background-position: center center;*/
    background-repeat: repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    animation: animatedBackground 80s infinite;
}

.card-logo {
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -75px;
}

@keyframes animatedBackground {
    0% { transform: scale(1)   }
    50% { transform: scale(1.5)   }
    100% { transform: scale(1)  }
}
.invitation .inner-con {
    width: 70%;
    max-width: 800px;
    padding: 50px 0 10px 0;
    margin: auto;
}
.invitation .card {
    padding: 20px;
    background: #00000085;
    text-align: center;
    position: relative;
    border-radius: 50px;
    border: 2px solid var(--white-light);
}

.orders-con {
    overflow-y: auto;
    max-height: 70vh;
    padding: 0 10px;
    margin: 0px 20px;
}
/* width */
.orders-con::-webkit-scrollbar {
    width: 7px;
    cursor: pointer;
}
/* Track */
.orders-con::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    cursor: pointer;

}
/* Handle */
.orders-con::-webkit-scrollbar-thumb {
    background: var(--main-dark);
    border-radius: 10px;
}
/* Handle on hover */
.orders-con::-webkit-scrollbar-thumb:hover {
    background: var(--main);
}


.order {
    color: var(--gray-darker);
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    background: #f1f1f1;
    border: 1px solid var(--main);
    font-size: 14px;
    max-width: 480px;
}

.order div {
    font-family: samim;
}
.order .code {
    padding: 2px 14px;
    border-radius: 15px;
    background: var(--white-darker);
    font-size: 13px;
    width: 75px;
}
.order .state {
    border-radius: 15px;
    padding: 2px 14px;
    color: white;
    font-size: 13px;
    width: 90px;
}
.order .state.green {
    background: limegreen;
}
.order .state.red {
    background: red;
}
.order .state.gray {
    background: gray;
}
.order .comment {
    margin-right: auto;
    font-size: 13px;
    color: white;
}

.order .date {
    display: inline-block;
    border-radius: 15px;
    background: var(--white-darker);
    padding: 2px 14px;
}

.review-icon {
    margin-left: 10px;
}
.inner-con.rate {
    max-width: 600px;
}

.rate-bar {
    border-radius: 25px;
    padding: 0 10px;
    background: #909090;
}
.rate-label {
    border-radius: 17px;
    background: #efefef;
    color: var(--gray-darker);
    font-size: 14px;
    padding: 5px 0;
}
.rate-icon {
    padding: 8px 5px;
    font-size: 18px;
    cursor: pointer;
}
.rate-icon.active {
    color: orange;
}
.rate-comment {
    height: 100px;
    width: 360px;
    border-radius: 15px;
    background: var(--white-light);
    padding: 10px;
}

.loading-con {
    height: 100vh;
    width: 100vw;
    background: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    transition: all ease-out 0.4s;
}

.loading-con .logo {
    width: 120px;
    height: 120px;
    display: flex;
}
.logo-loader {
    border: 5px solid var(--main-light);
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    align-self: center;
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
    margin: auto;
}

.glitch {
    font-family: cursive;
    position: relative;
    color: white;
    font-size: 20px;
    text-align: center;
    /*width: 200px;*/

    /*border: 2px solid red;*/
    /*border-radius: 10px;*/
    border-bottom: 2px solid white;

    padding: 0 10px;
}
.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    text-align: center;
    /*color: white;*/

    /*border-radius: 10px;*/
    padding: 0 10px;

    /*border: 2px solid var(--main-light);*/
    border-top: 0;
    border-bottom: 0;
    box-sizing: border-box;
}

.glitch::before {
    content: attr(data-text);

    /* ... anything needed to make it identical */

    /* variation */
    left: 1px;
    /*text-shadow: -1px 0 orange;*/
    color: var(--main);

    /* important: opaque background masks the original */
    background: black;

    animation: noise-anim 1s infinite linear alternate-reverse;
}
.glitch::after {
    /* ... anything needed to make it identical */

    /* variation */
    left: -1px;
    /*text-shadow: -1px 0 blue;*/
    color: var(--main-light);

    /* important: opaque background masks the original */
    background: black;

    animation: noise-anim-1 2s infinite linear alternate-reverse;
}

@keyframes noise-anim {
    0% {
        clip-path: inset(20% 0 50% 0);
    }
    20% {
        clip-path: inset(10% 0 1% 0);
    }
    40% {
        clip-path: inset(60% 0 20% 0);
    }
    60% {
        clip-path: inset(20% 0 60% 0);
    }
    80% {
        clip-path: inset(10% 0 70% 0);
    }
    100% {
        clip-path: inset(0% 0 80% 0);
    }
}
@keyframes noise-anim-1 {
    0% {
        clip-path: inset(10% 0 80% 0);
    }
    20% {
        clip-path: inset(50% 0 20% 0);
    }
    40% {
        clip-path: inset(10% 0 50% 0);
    }
    60% {
        clip-path: inset(90% 0 0% 0);
    }
    80% {
        clip-path: inset(5% 0 95% 0);
    }
    100% {
        clip-path: inset(45% 0 25% 0);
    }
}

.loading-con.hezar {
    height: 100vh;
    width: 100vw;
    background: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    transition: all ease-out 0.4s;
}

.loading-con.hezar .logo {
    width: 120px;
    height: 120px;
    display: flex;
    background-size: 75%;
}
.logo-loader.hezar {
    border: 5px solid white;
    border-radius: 50%;
    /*border-top-color: transparent;*/
    border-bottom-color: transparent;
    align-self: center;
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
    margin: auto;
}


.modal-con {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.65);
    z-index: 10;
    top: 0;
    position: fixed;
    overflow-y: auto;
}







/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}
#nprogress .bar {
    background: var(--main);
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
}
/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    opacity: 1;
    transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}
#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;
    animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}










/* Reponsive Design */
@media (max-width:1550px){
    .nav-container {
        left: 20%;
        right: 20%;
    }
}


@media (max-width:1360px){
    .banner-h1 {
        font-size: 38px;
    }
    .banner-h2 {
        font-size: 24px;
        right: 6%;
        left: 6%;
    }
    .motto-icon-wrap {
        height: 140px;
        width: 140px;
    }
    .motto {
        margin-left: 20px;
        margin-right: 20px;
    }
    .motto h4 {
        font-size: 19px;
    }
    .banner-mottos.show {
        margin-bottom: 6%;
    }
    .food-container h5 {
        font-size: 16px;
        margin-top: 8px
    }
    .nav-container {
        left: 17%;
        right: 17%;
    }
    .nav-logo {
        right: 5%;
    }
    .navigation > li{
        font-size: 15px;
    }
    .intro .inner-con{
        width: 90%;
    }
    .footer .inner-con {
        width: 80%;
    }

}

@media(max-width: 1200px) {

    /*with application link styles for header*/
    .nav-container {
        /*left: 14%;*/
        /*right: 14%;*/
    }
    .nav-logo {
        /*right: 3%;*/
    }
    .navigation > li{
        /*margin-left: 10px;*/
        /*margin-right: 10px;*/
    }

    .event {
        flex-direction: column;
        align-items: center;
        height: 340px;
        margin: 15px;
    }
    .event .title {
        margin: 20px 0 10px 0;
    }
    .event .content {
        margin-right: 0;
    }
    .intro .inner-con {
        width: 100%;
        border-radius: 0;
    }
    .footer .inner-con {
        width: 100%;
    }
    .inner-con.breadcrump {
        width: 100%
    }
}

@media (max-width:1060px){
    .nav-logo {
        right: 2%;
    }
    .nav-container {
        left: 13%;
        right: 13%;
    }
    .event .title {
        font-size: 15px;
    }
    p {
        font-size: 13px;
    }
}

@media (max-width:944px){
    .header {
        height: 60px;
        background: #252525cc;
    }
    .desktop.header {
        display: none;
    }
    .mobile.header {
        display: block;
    }
    .banner-h1 {
        font-size: 32px;
    }
    .banner-h2 {
        font-size: 20px;
    }
    .banner-secondary{
        height: 250px;
    }
    .container2.secondary {
        top: 250px;
    }
    .heading-wrapper {
        padding-top: 20px;
    }
    .heading {
        width: 270px;
        font-size: 20px;
    }
    .shop-cart {
        width: 34px;
        height: 34px;
        top: 55%;
    }
    .basket-count {
        width: 20px;
        height: 20px;
        font-size: 15px;
    }
    .nav-logo {
        width: 4.5rem;
        height: 4.5rem;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .scroll-down {
        width: 110px;
        font-size: 15px;
    }
    .col-event, .col-intro {
        flex: 0 0 50%;
    }
    .footer .inner-con {
        flex-direction: column;
    }
    .banner-mottos {
        flex-direction: column;
        align-items: center;
        left: 0;
        right: 0;
    }
    .banner-mottos.show {
        margin-bottom: 16%;
    }
    .motto {
        display: flex;
        margin: 10px 0;
    }
    .motto-icon-wrap {
        height: 70px;
        width: 70px;
        margin-right: 0;
        margin-left: 0;
        border-width: 2px;
    }
    .motto h4 {
        font-size: 15px;
        padding-top: 0;
        line-height: 70px;
        min-width: 200px;
    }
    .event {
        padding: 10px;
    }
    .invitation-desc {
        font-size: 14px;
    }
    .invitation .inner-con {
        width: 80%;
    }
    .card-logo {
        width: 90px;
        height: 90px;
        margin-top: -65px;
    }
    .event-img {
        width: 300px;
    }
    .orders-con {
        margin: 0px 10px;
    }

}

@media (max-width:640px){
    .banner-h2 {
        font-size: 17px;
    }
    .food-labels {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .foods-container{
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 5px;
        height: auto; /* preventing scrollbar in mobileView */
    }
    .food-container.resp {
        width: 100%;
        min-height: 162px;
        display: block;
        margin: 6px 6px;
    }
    .food-container.resp img{
        width: 158px;
        height: 100%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        float: right;
        border-left: 2px solid var(--main);
        border-top-left-radius: 0;
    }
    .food-container.resp h5 {
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 4px;
    }
    .food-container.resp .des {
        font-size: 11px ;
        margin-bottom: 4px;
    }
    .food-container.resp .price {
        font-size: 11px;
    }
    .food-label {
        font-size: 13px;
        margin: 5px;
    }
    .discount-span {
        font-size: 14px;
    }
    .count-holder.resp {
        height: 28px;
    }
    .price-holder {
        margin-bottom: 4px;
    }
    .price {
        font-size: 12px;
    }
    .e-price {
        padding: 4px;
    }
    .food-detail {
        height: 100%;
        position: relative;
        padding-top: 3px;
        display: flex;
        flex-direction: column;
    }
    .btn-add.resp{
        width: 28px;
        background-position: 10px 11px;
        background-size: 17px;
    }
    .btn-remove.resp{
        width: 28px;
        background-position: 3px 12px;
        background-size: 17px;
    }
    .choose-count.resp {
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        height: 26px;
        display: flex;
        justify-content: center;
    }
    .btn-add.round, .btn-remove.round {
        width: 20px;
        height: 20px;
        background-size: 12px;
    }
    .modal-container {
        min-width: 95vw;
        font-size: 15px;
        padding: 50px 20px 30px 20px;
    }
    .label-enter-phone {
        font-size: 15px;
    }
    .map {
        height: 400px;
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
    }
    .mob-map-padding {
        padding: 46px 0 18px 0;
    }
    .closeBtn {
        right: 12px;
        top: 8px;
    }
    .return-btn {
        top: 8px;
        right: 12px;
    }
    .toast-container {
        font-size: 14px;
    }
    .basket-food {
        font-size: 12px;
    }
    .unavailable.resp {
        bottom: 0;
        top: auto; /*override*/
        right: 0;
        border-left: 80px solid transparent;
        border-bottom: 80px solid rgba(255, 153, 6, 0.71);
    }
    .unavailable.resp .text {
        left: -56px;
        top: 35px;
    }
    .section {
        padding: 0 0 20px 0;
    }
    .col-event, .col-intro {
        flex: 0 0 100%;
    }
    .intro-card {
        height: 305px;
    }
    .location-pic {
        width: 340px;
    }
    .online-badge {
        padding: 0;
    }
    .online-badge .circle {
        width: 16px;
        height: 16px;
    }
    .order {
        max-width: none;
        font-size: 12px;
    }
    .order .state {
        font-size: 12px;
    }
    .order .comment {
        font-size: 12px;
    }
    .item {
        font-size: 14px;
    }
    .event-con {
        display: flex;
        flex-direction: column;
    }
    .event-img-con {
        margin: 20px 0 30px 0;
    }
    .invitation .inner-con {
        width: 95%;
    }
    .invitation .title {
        font-size: 16px;
    }
    .rate-comment {
        width: 100%;
    }
    .bread-crump a{
        font-size: 12px;
    }
}

@media (max-width:380px) {
}


@media (max-height:768px) { /* common styles with max-width: 1368 */
}


@media (hover: hover) { /* Using CSS Media Query Level 4, to prevent sticky hover effect on touch devices */
    .scroll-down:hover {
        color: var(--main);
    }
}
